# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 450fa266217d3fdaeade371282b2411b10d2b9182e632eee7d662106fbccef6644570a9cf5f0a75942f757f66f39b16e2cba00c29e375d991d1941e4b12412db

test:
  secret_key_base: 8fb5483d2a18c35684ab44ea432cf73c9c4a103e895e6f024b6a9f17ae78a736d66e977625fc22d431c338631fd330e3a171ea8696d5af0e6fbdfe368cfe21bc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
